{% macro prop(key, value) %}
  {% if key !== 'links' %}
  <tr>
    <th>{{ key }}</th>
    <td>
    {% if value | isObject %}
      <table>
        <tbody>
          {% for key, value in value %}
            {{ prop(key, value) }}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      {% if value | isArray %}
        {% for value in value %}
          <table>
            <tbody>
              {% for key, value in value %}
                {{ prop(key, value) }}
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% else %}
        {{ value }}
      {% endif %}
    {% endif %}
    </td>
  </tr>
  {% endif %}
{% endmacro %}

{% macro render(type, columns = [], model = { links: {} }) %}
  <section class="column-first">
    <h2 class="heading-large">{{ type }}</h2>

    <table>
      <tbody>
        {% for key, value in model %}
          {{ prop(key, value) }}
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section class="column-first">
    <h2 class="heading-medium">Links</h2>

    <ul style="list-style: initial;margin-left:1.6em">
      {% for type, uri in model.links %}
      <li><a href="{{ uri }}" type="{{ type }}">{{ type }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endmacro %}
