{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<p style="margin-top:30px;"><a href="/">Back to the homepage</a></p>

		<section class="column-first">

			<h2 class="heading-large">Custody Statuses</h2>

      <table>
        <thead>
					<tr>
					{% for columnName in columns %}
						<td>{{columnName}}</td>
					{% endfor %}
					</tr>
				</thead>
				<tbody>
      {% for row in custodyStatuses %}
        	<tr>
					{% for columnName in columns %}
						{% if links[columnName] %}
						<td><a href="{{ row.links[links[columnName]] }}" type="{{ links[columnName] }}">{{ row[columnName] }}</a></td>
						{% else %}
						<td>{{ row[columnName] }}</td>
						{% endif %}
					{% endfor %}
					</tr>
      {% endfor %}
				<tbody>
			</table>
		</section>

</main>

{% endblock %}
