{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<p style="margin-top:30px;">Home ></p>

	<section class="column-first">
		<h2>Custody Listings</h2>
		<ul>
			<li><a href="/offenders">Custody archive</a></li>
		</ul>
	</section>

	<section class="column-first">
		<h2>Reference Listings</h2>
		<ul>
			<li><a href="/agencies">All Agencies</a></li>
			<li><a href="/locations">All Locations</a></li>
			<li><a href="/offences">All Offences</a></li>
		</ul>
	</section>

	<section class="column-first">
		<h2>Extracts</h2>
		<ul>
			<li><a href="/offenders/ao">Accomodation and Occupancy extracts</a></li>
			<li><a href="/offenders/cde">Offender Location extracts</a></li>
		</ul>
	</section>

</main>

{% endblock %}
