{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<p style="margin-top:30px;">Home ></p>

	<section class="column-first">
		<h2>Prisoner Lists</h2>
		<ul>
			<li><a href="/bookings">List all Bookings</a></li>
			<li><a href="/custodyStatuses">List by Custody Status</a></li>
		</ul>

		<h2>Location Listings</h2>
		<ul>
			<li><a href="/agencies">List Agencies</a></li>
			<li><a href="/locations">List by Location</a></li>
		</ul>
	</section>

</main>

{% endblock %}
